@use "utils" as *;

.container {
  position: relative;
  min-height: 200vh;
  padding-top: rem(200);
}

.stickyHeadline {
  position: sticky;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin: 0;
  width: max-content;
  transform: translate(-50%, -50%);
}
