@use "utils" as *;

.main {
  position: relative;
  padding-top: rem(150);
  padding-bottom: rem(150);
}

.content {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-top: 3.75rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.offer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}
