@use "css/utils" as *;

.header {
  min-height: rem(120);
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;

  + main {
    margin-top: rem(120);
  }
}

.container {
  padding-inline: 2rem;
  margin: 0 auto;
  max-width: var(--container-width);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: rem(270);
}
