@use "utils" as *;

.wrapper {
  position: relative;
}

.customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 9999;
  pointer-events: none;
  background-color: #000;
  border-radius: 50%;
}
