// Media Queries
$media-xxsmall: 320px;
$media-xsmall: 450px;
$media-small: 640px;
$media-medium: 768px;
$media-large: 1024px;
$media-xlarge: 1280px;
$media-xxlarge: 1366px;
$media-xxxlarge: 1500px;
$media-xxxxlarge: 1920px;
$media-xxxxxlarge: 2560px;
