$kami-motion-business-blue: #011d3f;
$kami-motion-nature-green: #005255;
$kami-motion-energy-green: #00a438;
$kami-motion-medium-blue: #99a9bc;
$kami-motion-light-white: #eff0f3;
$kami-motion-white: #ffffff;

$kami-motion-gradient-green: linear-gradient(
  270deg,
  rgba(0, 164, 56, 0) 15%,
  rgba(0, 164, 56, 0.4) 100%
);
$kami-motion-gradient-green-intense: linear-gradient(
  270deg,
  rgba(0, 164, 56, 0) 15%,
  rgba(0, 164, 56, 0.9) 100%
);
